header{
    width: 80%;
    height: 100px;
    border: 1px dashed black;
    border-radius: 25px;
    margin: auto;
}
nav{
    display: inline;
    float: right;
    margin: 20px;
    ul{
        font-size: 12px;
        padding-left: 0px;
        margin-left: 0px;
        background-color: grey;
        color: white;
        width: 50%;
        font-family: 'Courier New', Courier, monospace;
        position: relative;
        display: inline;
        li{
            display: inline;
            text-align: center;
            a{
                background-color: rgba(255,255,255,0);
                color: white;
                text-decoration: none;
                float: right;
                border: 1px solid white;
                border-radius: 0px 10px 0px 10px;
                box-shadow: 0px 0px 5px white;
                width: 80px;
                transition: -webkit-box-shadow 1s background 1s;
                &:hover{
                    background: rgba(255,255,255,0.8);
                    color: black;
                    box-shadow: 0px 0px 25px white;
                    -webkit-box-shadow:0px 0px 25px white;
                }
            }
        }
    }
}